
<form class="form-horizontal form-register">
    <h2 class="form-signin-heading">Profile</h2>
    <div class="control-group">
        <label class="control-label" for="inputEmail">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</label>
        <div class="controls">
            {{ user.email }}
        </div>
    </div>
    <hr/>
    <a href="{{ path('fos_user_profile_edit')}}" class="btn btn-primary btn-block">{% trans %}Edit{% endtrans %}</a>
</form>