body{
    padding-top: 48px;
}

.form-register{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-register .form-control{
    margin: 5px 0px 5px 0px;
}

ul.alert{
    list-style: none;
}

.syntaxhighlighter{
    padding: 10px;
}

#logo{
    background: url('../../../Sharindata48x48.png');
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 60px;
    color: white;
}

#social{
    background-color: #eee;
}