{% extends "::base.html.twig" %}

{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <h1>Hello geeks!</h1>
        <p>You're developer and you're tired of wasting time to search basic data or to develop recurrent functionalities like random generator for your application ? This is a website for easy access to essential data and tools for developers. Create your account and call our API when you need it !</p>
        <div id="social">
            <a href="https://twitter.com/sharindata" target="_blank"><img src="{{ asset("img/social_tw.png") }}"/></a>
            <a href="https://www.facebook.com/sharindata" target="_blank"><img src="{{ asset("img/social_fb.png") }}"/></a>
            <a href="https://plus.google.com/u/0/communities/114133351705912199375" target="_blank"><img src="{{ asset("img/social_gplus.png") }}"/></a>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-3">
        <h2>Register for free</h2>
        <p>Create your developer account with a login and password. When your email is confirmed, you can call our API and get data.</p>
    </div>
    <div class="col-lg-3">
        <h2>Update</h2>
        <p>Data are updated daily by trusted organizations.</p>
    </div>
    <div class="col-lg-3">
        <h2>More</h2>
        <p>We develop tools to respond to frequently problems developers which are available with our API. Random generator, date converter and more relieve you of recurring tasks.</p>
    </div>
    <div class="col-lg-3">
        <!-- Place this tag where you want the widget to render. -->
        <div class="g-page" data-width="260" data-href="//plus.google.com/104540658187231261711" data-showtagline="false" data-showcoverphoto="false" data-rel="publisher"></div>

        <!-- Place this tag after the last widget tag. -->
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>HOW TO USE</h2>
        <br/>
        <b>Installation</b>
        <p>Download and use the Sharindata Client API on <a href="https://github.com/kkuetnet/SharindataClientApi.git" target="_blank">https://github.com/kkuetnet/SharindataClientApi.git</a></p>
        <b>Request</b>
        <pre class="brush: php;">
            $response = \KkuetNet\SharindataClientApi\Vendor\SharindataClientApi::getInstance("your_api_key", "your_api_secret");
            var_dump($response->getCountry("be"));
        </pre>
        <b>JSON Response</b>
        <pre class="brush: js;">
            {
                "id": 3, 
                "iso": "BE", 
                "call_prefix": "32", 
                "contains_states": false, 
                "need_identification_number": false, 
                "need_zip_code": true, 
                "zip_code_format": "NNNN", 
                "display_tax_label": true, 
                "address_format": "firstname lastname\ncompany\nvat_number\naddress1\naddress2\npostcode city\nCountry:name\nphone", 
                "zone": {
                    "code": "Europe", 
                    "name": "Europe", 
                    "url": "\/data\/zones\/Europe"
                }, 
                "states": [], 
                "timezone": {
                    "code": "Europe_Brussels", 
                    "name": "Europe\/Brussels", 
                    "url": "\/data\/timezones\/Europe_Brussels"
                }, 
                "currencies": [
                    {
                        "iso_code": "EUR", 
                        "url": "\/data\/currencies\/EUR"
                    }
                ], 
                "languages": [
                    {
                        "iso639-1": "de", 
                        "url": "\/data\/languages\/de"
                    }, 
                    {
                        "iso639-1": "fr", 
                        "url": "\/data\/languages\/fr"
                    }, 
                    {
                        "iso639-1": "nl", 
                        "url": "\/data\/languages\/nl"
                    }
                ], 
                "taxes": [
                    {
                        "name": "TVA BE 21%", 
                        "rate": "21.000"
                    }, 
                    {
                        "name": "TVA BE 12%", 
                        "rate": "12.000"
                    }, 
                    {
                        "name": "TVA BE 6%", 
                        "rate": "6.000"
                    }
                ]
            }
        </pre>
    </div>
</div>
{% endblock %}