body {
    padding-top: 60px;
}

.form-register {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-register .form-control {
    margin: 5px 0px 5px 0px;
}

ul.alert {
    list-style: none;
}

.syntaxhighlighter {
    padding: 10px;
}

#logo {
    background: url('../../../Sharindata48x48.png');
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 60px;
    color: white;
}

#social {
    background-color: #eee;
}

span.color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    vertical-align: middle;
}

.custom-liste li {
    padding: 2px;
}

.code {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
    font-weight: normal;
}

table.container td {
    padding: 5px;
}

table.container ul {
    padding: 0px;
    margin: 10px;
}