{% extends '::base.html.twig' %}

{% block title %}Documentation{% endblock %}

{% block body %}
    {% include motdTemplate %}
    <div class="container" id="resources_container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}